.recomenda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EBECEE;
    padding: 40px;
    border-radius: 15px;
    width: 80%;
    margin: 40px auto;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
