.resultadoPesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
p{
    width: 200px;
    color: #000;
}

img{
    width: 100px;
}

&:hover{
    border: 1px solid white;
}